$tabview-color = #b3bccc
$tabview-color-selected = #fff
$tabview-background-color = #21252b
$tabview-background-color-selected = #282c34
$tabview-border-color = #000
$tabview-scrollbar-handle-background-color = #568af2
$tabview-tabbar-padding = 7px

$tabview-close-button-color = $tabview-color
$tabview-close-button-color-hover = $tabview-color-selected
$tabview-close-button-margin = 6
$tabview-close-button-padding-top = 2
$tabview-close-button-size = 13
$tabview-close-button-width = 16

$tabview-selected-close-button-color = #76818d
$tabview-selected-close-button-color-hover = $tabview-color-selected

apply-theme()
  [Tabview]
    background-color: $tabview-background-color

    &[focused=true]
      background-color: $tabview-background-color

  [TabviewBar]
    background-color: $tabview-background-color

    QScrollArea
      border: 0

    QScrollBar
      &:vertical
        width: 3px
        padding-right: 0

      &:horizontal
        height: 3px
        padding-bottom: 0

      &:vertical
      &:horizontal
        border: 0px
        background-color: $tabview-background-color

      &::handle:vertical
      &::handle:horizontal
        background-color: #878b94

      &::handle:vertical:hover
      &::handle:horizontal:hover
        background-color: $tabview-scrollbar-handle-background-color

      &::add-line:vertical
      &::sub-line:vertical
      &::add-line:horizontal
      &::sub-line:horizontal
        border: none
        background-color: $tabview-background-color

    [ToolBox]
      border: 1px solid transparent
      border-left-color: $tabview-border-color

    [ToolBoxButton]
      border: none
      color: $tabview-color
      padding: 8px 0px

      &:hover, &:focus
        color: $tabview-color-selected

      &:disabled
        color: alpha($tabview-color, .5)

    [TabviewBarScrollLeftButton]
      // The Scroll Left Button

    [TabviewBarScrollRightButton]
      // The Scroll Right Button

  [TabviewBarFrame]
    background-color: transparent
    padding: 0

  [TabviewBarButton]
    border: 0
    padding: $tabview-tabbar-padding ($tabview-tabbar-padding * 2)
    padding-right: $tabview-tabbar-padding

    [TabviewBarButtonText]
      color: $tabview-color

    &[selected=true], &:hover
      background-color: $tabview-background-color-selected

      [TabviewBarButtonClose]
        color: $tabview-selected-close-button-color

        &[hover=true]
          color: $tabview-selected-close-button-color-hover

    &[selected=true]
      border: 1px solid $tabview-border-color
      border-bottom: 0

      [TabviewBarButtonText]
        color: $tabview-color-selected

    &[first=true]
      border-left-color: transparent

    &[last=true]
      border-right-color: transparent

  [TabviewContainer]
    background-color: $tabview-background-color-selected
    border: 0
    padding: 0
    margin: 0

  [TabviewWidget]
    border-color: transparent
    background-color: transparent

  [TabviewBarButtonClose]
    min-width: $tabview-close-button-width
    max-width: @min-width
    min-height: @min-width
    max-height: @min-height
    padding-top: $tabview-close-button-padding-top
    margin-right: $tabview-close-button-margin

    qproperty-color: $tabview-close-button-color
    qproperty-size: $tabview-close-button-size
    qproperty-margin: $tabview-close-button-margin

    &[hover=true]
      qproperty-color: $tabview-close-button-color-hover
